In [27]:
import pandas as pd
import psycopg2

In [28]:
big_cheddar_csv = "Resources/big_cheddar.csv"
big_cheddar_df = pd.read_csv(big_cheddar_csv)
big_cheddar_df.head(15)

   Week Ending Date Report Date   Date  Weighted Prices       Sales
0        08/19/2017  08/23/2017  07/22           1.5907  11,217,751
1        08/19/2017  08/23/2017  07/29           1.6226  11,933,852
2        08/19/2017  08/23/2017  08/05           1.6822  11,874,522
3        08/19/2017  08/23/2017  08/12           1.7376  11,228,718
4        08/19/2017  08/23/2017  08/19           1.7429  12,414,048
5        08/12/2017  08/16/2017  08/12           1.7375  10,981,870
6        08/12/2017  08/16/2017  08/05           1.6822  11,874,522
7        08/12/2017  08/16/2017  07/29           1.6226  11,933,852
8        08/12/2017  08/16/2017  07/22           1.5907  11,217,751
9        08/12/2017  08/16/2017  07/15           1.5866  14,121,953
10       08/05/2017  08/09/2017  07/08           1.6113  12,066,404
11       08/05/2017  08/09/2017  07/15           1.5866  14,121,953
12       08/05/2017  08/09/2017  07/22           1.5907  11,217,751
13       08/05/2017  08/09/2017  07/29           1.6226  11,933,852
14       08/05/2017  08/09/2017  08/05           1.6813  11,698,761

In [29]:
clean_cheese_df = big_cheddar_df

In [30]:
bigger_cheddar_df = pd.read_csv('Resources/bigger_cheddar.csv')
bigger_cheddar_df.head()

,Week Ending Date,Report Date,Date,Weighted Price,Weighted Price adjusted to 38% moisture,Sales,Moisture Content
0,08/19/2017,08/23/2017,07/22,1.5238,1.4489,"9,233,624",34.79
1,08/19/2017,08/23/2017,07/29,1.5636,1.4863,"10,948,266",34.77
2,08/19/2017,08/23/2017,08/05,1.5891,1.5113,"11,520,370",34.81
3,08/19/2017,08/23/2017,08/12,1.6360,1.5526,"10,741,788",34.67
4,08/19/2017,08/23/2017,08/19,1.6543,1.5738,"11,131,479",34.83

In [31]:
bigger_cheddar_df = bigger_cheddar_df[['Date','Weighted Price', 'Weighted Price adjusted to 38% moisture', 'Sales', 'Moisture Content']].copy()
bigger_cheddar_df.head()

,Date,Weighted Price,Weighted Price adjusted to 38% moisture,Sales,Moisture Content
0,07/22,1.5238,1.4489,"9,233,624",34.79
1,07/29,1.5636,1.4863,"10,948,266",34.77
2,08/05,1.5891,1.5113,"11,520,370",34.81
3,08/12,1.6360,1.5526,"10,741,788",34.67
4,08/19,1.6543,1.5738,"11,131,479",34.83

In [32]:
big_c = bigger_cheddar_df

In [33]:
clean_cheese_df = pd.DataFrame({"40 LB CHEESE":big_c.groupby(['Date', 'Sales'])["Weighted Price"].mean()})

In [34]:
clean_cheese_df.head()

                  40 LB CHEESE
Date  Sales
01/02 8,636,161         1.5569
      8,839,183         1.5586
      9,167,653         1.5586
01/03 9,122,463         1.6474
01/04 10,364,785        2.0600

In [ ]:
file_df = pd.read_csv('Resources/file.csv')
file_df.head()

In [ ]:
file_df = file_df[["","",""]]
file_df.head()

In [ ]:
file_df = file_df.rename(columns{"","",""})

In [ ]:
file_df_new = pd.dataFrame({"":file_df.groupby(["",""])[""].mean(),
      "40 LB CHEESE":file_df.groupby(["Date","Sales"]["Weighted Price"].sum()})                     })

In [ ]:
file_df_new.head()

In [ ]:
#MERGING DATA
merged = pd.merge(clean_cheese_df,file_df_new, on=["",""],how="inner")

In [ ]:
merged.head()

In [ ]:
merged2 = pd.merge(merged,file_df_new, on=["",''],how="inner")

In [ ]:
merged2.head()

In [ ]:
merged_final = merged2.reset_index()

In [ ]:
merged_final.head()

In [ ]:
merged_final = merged_final[["","","","","","","",""]]

In [ ]:
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [ ]:
engine = create_engine("mysql://root:@localhost/ETL_Project")

In [ ]:
merged_final_sql = merged_final.rename(columns={"":"","":"","":"","":
                                               "","":""})

In [ ]:
merged_final_sql.head()

In [ ]:
merged_final_sql.to_sql(name='', con=engine, if_exists='append', index=False)